<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.ifsoft.candy.plugin.CandyPlugin</class>
    <name>Candy Plugin for Openfire</name>
    <description>Candy (Chats Are Not Dead Yet) was developed by Michael Weibel (@weibelm) and Patrick Stadler (@pstadler) on behalf of their employer Amiado Group. <p/>This plugin makes Candy work out of the box, providing support for websockets  and a voicebridge for Flash, Jingle and SIP audio-conferencing</description>
    <author>Ignite Realtime</author>
    <version>0.0.0.5</version>
    <minServerVersion>3.9.0</minServerVersion> 
<!--    
    <adminconsole>              
        <tab id="TAB-CANDY" name="Candy" url="candy-properties" description="click to manage Candy" >
		
            <sidebar id="SIDEBAR-CANDY-SETTINGS" name="Settings" description="Settings">
                <item id="CANDY-PROPERTIES"      name="Properties" url="candy-properties" description="Properties"/>
             </sidebar>		
        </tab>        
    </adminconsole>   
-->    
</plugin>